services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: py-unit-converter-backend
    container_name: py-unit-converter-backend
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: py-unit-converter-frontend
    container_name: py-unit-converter-frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    restart: unless-stopped
